.git
.github
.gitignore
.devcontainer
.vscode
.cursor
target
*.log
test-coverage.out
test-coverage.html
test-report.json
**/*_test.go
docker
scripts
justfile
README.md
REFACTORING-PLAN.md
LICENSE
sonar-project.properties
release.env
release-build.env
